.form__container {
    width: 80%;
    height: 5rem;
    background-color: rgba(211, 211, 211, 0.488);
    padding:2rem;
    text-align: center;
    vertical-align:middle;
    margin:0 auto;
}
.form__new-task {
    width: 80%;
    border-bottom: 3px solid #4966BF;
    height: 3rem;
    border-radius: 10px;
}
.form__submit {
    cursor: pointer;
    color:#D90416;
    font-size: 3rem;
    display: inline-block;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    
}
.form__date {
    border: none;
    width: 10rem;
    height: 1.5rem;
    background-color: transparent;
    font-size: .9rem;
    letter-spacing: 2px;
    margin-right: 4rem;
    border-bottom: 3px solid #4966BF;

}
.form__time {
    border: none;
    width: 10rem;
    height: 1.5rem;
    background-color: transparent;
    font-size: .9rem;
    letter-spacing: 2px;
    border-bottom: 3px solid #4966BF;

} 