.note__container {
    position: relative;
    background-color: #a0d9d918;
    width: 87.5%;
    height: 3.5rem;
    margin:0 auto
}
.notes__task {
    margin-left:1rem;
    font-size: 1.1rem;
    position: absolute;
    
}
.note__remove {
    cursor: pointer;
    position:absolute;
    background-color: transparent;
    border: none;
    color:black;
    font-size: 2rem;
    top:50%;
    left:95%;
    transform: translate(-50%,-50%);
}
.note__check {
    cursor: pointer;
    position:absolute;
    background-color: transparent;
    border: none;
    color:black;
    font-size: 2rem;
    top:50%;
    left:90%;
    transform: translate(-50%,-50%);
}
.color-green {
    color:#0F4001;
}
.note__checked {
    text-decoration: line-through;
}